{% extends "admin/base.html" %} {% block title %} {% if subtitle %}{{ subtitle
}}| {% endif %} {{ title }} | {{ site_title|default:_('Django site admin') }} 
{% endblock %}
<h1 id="site-name">
    {% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Polls Administration</a>
    </h1>
    {% endblock %}
</h1>
{% block nav-global %}{% endblock %}
